.content {
  width: 100%;
  height: auto;

  margin-top: 30px;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: absolute; /* Para sobrepor os componentes */
}

.content.active {
  opacity: 1;
}
