@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", serif;
  background: #030014;
}

/* BACKGROUND */
.animate-bounce {
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(-100px) scale(0.7);
  }
  50% {
    transform: translateY(0) scale(1.2);
  }
  100% {
    transform: translateY(-100px) scale(0.7);
  }
}

/* MENU HAMBURGUER */
.menu {
  position: fixed;
  top: 70px;
  right: -100%;
  width: 100%;
  height: 25vh;
  /* background-color: #333; */
  transition: all 0.5s ease-in-out;
}

.menu.open {
  right: 0;
}

/* SHOWCASE */
.content {
  width: 100%;
  height: auto;
  margin-top: 30px;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  /* position: absolute; Para sobrepor os componentes */
}

.content.active {
  opacity: 1;
}
